h1{
    color: red;
}

body{
    margin: 0;
}

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27,30,33);
    color: white;
    padding: 15px 30px;
 }

 .nlinks{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.nlinks a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: orange;
    text-decoration:  underline;
}

.Fim {
    margin-right: 100px;
    justify-content: left;
    border-radius: 30px;
    box-shadow:8px 8px 16px 0px rgba(0, 0, 0, 0.5);
}


.wrapper{
    display: flex;
    gap: 20px;
    padding: 50px;
    /* width: 70%; */
    margin: 0 auto;
 }
 
 #p1h1{
    text-align: center;
    margin-bottom: 30px;
 }
 
 .containor{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 100px; 
 }

 .card{
    width: 3256px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow:8px 8px 16px 0px rgba(0, 0, 0, 0.5);
    margin: 20px;
 }